<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand abs" href="/app/recommended.html">
            <img src="/assets/logo-white.svg" alt="Logo" style="width:29px;" class="d-inline-block">
            <h class="d-none d-sm-inline"> BookNest</h>
        </a>

        <div class="navbar-collapse collapse order-3 order-md-4" id="collapseNavbar2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" id="nav-login" href="/login.html">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-register" href="/register.html">Зарегистрироваться</a>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler ms-auto order-2" type="button" id="collapseButton" data-bs-toggle="collapse"
            data-bs-target="#collapseNavbar1,#collapseNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
